@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/gteestiprodisplay_thin.otf') format('opentype');
    font-weight: 100;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/gteestiprodisplay_light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/gteestiprodisplay_regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/gteestiprodisplay_medium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/gteestiprodisplay_bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../font/gteestiprodisplay_ultrabold.otf') format('opentype');
    font-weight: 800;
}

body {
    font-family: "GT Eesti Pro Display" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}